<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Mi Cuenta
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page13">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Suelta para Actualizar">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list id="miCuenta-list6">
    <ion-item color="none" id="miCuenta-list-item13">
      Nombre
      <ion-note item-right>{{nombre}}</ion-note>
    </ion-item>
    <ion-item color="none" id="miCuenta-list-item14">
      Apellido
      <ion-note item-right>{{apellido}}</ion-note>
    </ion-item>
    <ion-item color="none" id="miCuenta-list-item15">
      Rut
      <ion-note item-right>{{rut}}</ion-note>
    </ion-item>
    <ion-item color="none">
      <ion-label style="color: black">Especialidad(es)</ion-label>
      <ion-select [(ngModel)]="hairColor" okText="Cambiar" cancelText="Cancelar" #C (ionChange)="onChange(C.value)">
        <ion-option *ngFor="let item of especialidades" value="{{item.id}}" [selected]="especialidad == item.id">{{ item.nombre }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item color="none">
      Calificación
      <ion-note item-right>{{calificacion}} de 5</ion-note>
    </ion-item>
    <ion-item color="none">
      Estado
      <ion-note item-right *ngIf="estado == false">OCULTO</ion-note>
      <ion-note item-right *ngIf="estado != false">DISPONIBLE</ion-note>
    </ion-item>
    <ion-item color="none" id="miCuenta-list-item16">
      Email
      <ion-note item-right>{{email}}</ion-note>
    </ion-item>
  </ion-list>
  <ion-label on-click="passChange()">
    Cambiar Contraseña
  </ion-label>
  <button ion-button outline color="danger" block on-click="logOut()">
    Cerrar Sesión
  </button>
</ion-content>